### Easy 1

**Question:**  
Create a list of 5 integers and print it.

**Approach:**  
Create a list using square brackets and use print().

In [1]:
# Write your code here
l = [1, 2, 3, 4, 5]
print(l)

[1, 2, 3, 4, 5]

### Easy 2

**Question:**  
Find the length of a given list.

**Approach:**  
Use the built-in len() function.

In [2]:
# Write your code here
len(l)

5

### Easy 3

**Question:**  
Access and print the last element of a list.

**Approach:**  
Use negative indexing.

In [3]:
# Write your code here
l[-1]

5

### Easy 4

**Question:**  
Add an element to the end of a list.

**Approach:**  
Use the append() method.

In [4]:
# Write your code here
l.append(6)
l

[1, 2, 3, 4, 5, 6]

### Easy 5

**Question:**  
Remove the first element from a list.

**Approach:**  
Use pop(0) or slicing.

In [5]:
# Write your code here
l.pop(0)
l

[2, 3, 4, 5, 6]

### Medium 1

**Question:**  
Print all elements of a list using a loop.

**Approach:**  
Iterate using a for loop.

In [6]:
# Write your code here
for i in l:
  print(i)

2
3
4
5
6

### Medium 2

**Question:**  
Find the sum of all elements in a list.

**Approach:**  
Initialize sum = 0 and add elements in loop.

In [7]:
# Write your code here
s = 0
for i in l:
  s += i
s

20

In [9]:
l
print(sum(l))

20

### Medium 3

**Question:**  
Count how many even numbers are in a list.

**Approach:**  
Check element % 2 == 0 inside loop.

In [10]:
# Write your code here
c = 0
for i in l:
  if i % 2 == 0:
    c += 1
c

3

### Medium 4

**Question:**  
Find the maximum element without using max().

**Approach:**  
Assume first element as max and compare.

In [14]:
# Write your code here
m = l[0]
for i in l:
  if i > m:
    m = i
m

6

### Medium 5

**Question:**  
Reverse a list without using reverse().

**Approach:**  
Traverse list from end or use slicing.

In [15]:
# Write your code here
l[::-1]

[6, 5, 4, 3, 2]

### Medium 6

**Question:**  
Create a new list with squares of each element.

**Approach:**  
Loop and append square of each element.

In [16]:
# Write your code here
l2 = []
for i in l:
  l2.append(i**2)
l2

[4, 9, 16, 25, 36]

### Medium 7

**Question:**  
Remove all occurrences of a given value.

**Approach:**  
Loop and remove or use list comprehension.

In [17]:
# Write your code here
for i in l:
  if i == 2:
    l.remove(i)
l

[3, 4, 5, 6]

### Medium 8

**Question:**  
Find the index of a given element manually.

**Approach:**  
Traverse list and compare elements.

In [23]:
# Write your code here
l = [1, 2, 3, 4, 5]
for i in range(len(l)):
  if l[i] == 3:
    print(i)

2

### Medium 9

**Question:**  
Merge two lists into one.

**Approach:**  
Use + operator or extend().

In [24]:
# Write your code here
l3 = l + l2
l3

[1, 2, 3, 4, 5, 4, 9, 16, 25, 36]

### Medium 10

**Question:**  
Check if a list is empty.

**Approach:**  
Use len(list) == 0 or direct comparison.

In [25]:
# Write your code here
if len(l) == 0:
  print("Empty")
else:
  print("Not Empty")

Not Empty

### Hard 1

**Question:**  
Remove duplicate elements from a list.

**Approach:**  
Use loop and a new list or set.

In [26]:
# Write your code here
l4 = []
for i in l:
  if i not in l4:
    l4.append(i)
l4

[1, 2, 3, 4, 5]

### Hard 2

**Question:**  
Find the second largest element.

**Approach:**  
Track largest and second largest values.

In [27]:
# Write your code here
l = [1, 2, 3, 4, 5]
l.sort()
l[-2]

4

### Hard 3

**Question:**  
Rotate a list to the right by k steps.

**Approach:**  
Use slicing and modulo operation.

In [28]:
# Write your code here
k = 2
l[k:] + l[:k]

[3, 4, 5, 1, 2]

### Hard 4

**Question:**  
Check if a list is a palindrome.

**Approach:**  
Compare list with its reverse.

In [29]:
# Write your code here
l == l[::-1]

False

### Hard 5

**Question:**  
Split a list into even and odd lists.

**Approach:**  
Check each element and append accordingly.

In [30]:
# Write your code here
l5 = []
l6 = []
for i in l:
  if i % 2 == 0:
    l5.append(i)
  else:
    l6.append(i)
print(l5)
print(l6)

[2, 4]
[1, 3, 5]

### Hard 6

**Question:**  
Find common elements between two lists.

**Approach:**  
Use loop or set intersection.

In [31]:
# Write your code here
l7 = [1, 2, 3, 4, 5]
set(l).intersection(set(l7))

{1, 2, 3, 4, 5}

### Hard 7

**Question:**  
Create a new list that contains all elements from the given list.

**Approach:**  
Create empty list and append each element.

In [32]:
# Write your code here
l8 = []
for i in l:
  l8.append(i)
l8

[1, 2, 3, 4, 5]

### Hard 8

**Question:**  
Find frequency of each element.

**Approach:**  
Use dictionary to count occurrences.

In [33]:
# Write your code here
d = {}
for i in l:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
d

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1}

### Hard 9

**Question:**  
Move all zeros to end of list.

**Approach:**  
Create two lists or swap in-place.

In [35]:
# Write your code here
l = [1, 2,0, 3,0, 4, 5]
l9 = []
l10 = []
for i in l:
  if i == 0:
    l9.append(i)
  else:
    l10.append(i)
l10 + l9

[1, 2, 3, 4, 5, 0, 0]

### Hard 10

**Question:**  
Count how many times the list values increase compared to the previous value.

**Approach:**  
Compare current and previous values.

In [37]:
# Write your code here
count = 0
for i in range(len(l)-1):
  if l[i] < l[i+1]:
    count += 1
count

4

### Additional Easy 1

**Question:**  
Create an empty list and print it.

**Approach:**  
Use empty square brackets [].

In [38]:
# Write your code here
l11 = []
l11

[]

### Additional Easy 2

**Question:**  
Create a list of three numbers and print the first element.

**Approach:**  
Use index 0.

In [39]:
# Write your code here
l12 = [1, 2, 3]
l12[0]

1

### Additional Easy 3

**Question:**  
Check whether a value exists in a list.

**Approach:**  
Use the in operator.

In [40]:
# Write your code here
if 2 in l12:
  print("Exists")
else:
  print("Not Exists")

Exists

### Additional Easy 4

**Question:**  
Replace the second element of a list with a new value.

**Approach:**  
Use index assignment.

In [41]:
# Write your code here
l12[1] = 4
l12

[1, 4, 3]

### Additional Easy 5

**Question:**  
Print each element of a list on a new line.

**Approach:**  
Use a for loop.

In [42]:
# Write your code here
for i in l12:
  print(i)

1
4
3

### Additional Medium 1

**Question:**  
Count how many elements are greater than 10 in a list.

**Approach:**  
Loop and compare each element.

In [43]:
# Write your code here
count = 0
for i in l:
  if i > 10:
    count += 1
count

0

### Additional Medium 2

**Question:**  
Create a new list containing only positive numbers.

**Approach:**  
Check > 0 and append.

In [44]:
# Write your code here
l13 = []
for i in l:
  if i > 0:
    l13.append(i)
l13

[1, 2, 3, 4, 5]

### Additional Medium 3

**Question:**  
Find the smallest element without using min().

**Approach:**  
Assume first element as smallest.

In [45]:
# Write your code here
m = l[0]
for i in l:
  if i < m:
    m = i
m

1

### Additional Medium 4

**Question:**  
Create a list in reverse order using a loop.

**Approach:**  
Loop from last index to first.

In [46]:
# Write your code here
l14 = []
for i in range(len(l)-1, -1, -1):
  l14.append(l[i])
l14

[5, 4, 3, 2, 1]

### Additional Medium 5

**Question:**  
Count how many times a given element appears in a list.

**Approach:**  
Use a counter variable.

In [48]:
# Write your code here
numbers = [10, 20, 10, 30, 10, 40, 50]
target_element = 10
count = 0
for num in numbers:
    if num == target_element:
        count = count + 1
print(f"The number {target_element} appears {count} times.")

The number 10 appears 3 times.