# Python Data Strucutre  Practice Question -2

## Question 1: Category Frequency

You are given a list of product categories sold on an e-commerce platform.
Some categories appear multiple times.

**Task:**
- Create a list of tuples where each tuple contains `(category_name, number_of_occurrences)`
- Print **only the first two tuples** from the result

```python
categories = ['electronics', 'fashion', 'books', 'electronics',
              'groceries', 'fashion', 'electronics', 'books']
```

In [2]:
# write you answer here
categories = ['electronics', 'fashion', 'books', 'electronics', 'groceries', 'fashion', 'electronics', 'books']
category_freq = {}
for category in categories:
    if category in category_freq:
        category_freq[category] += 1
    else:
        category_freq[category] = 1

category_list = list(category_freq.items())
print(category_list[:2])

[('electronics', 3), ('fashion', 2)]

## Question 2: Date Tuple Manipulation

You are given a list of tuples representing `(day, month, year)`.

**Task:**
- Swap the **first and last elements** of each tuple
- Store the result in a new list
- Print **only the first two modified tuples**

```python
dates = [(1, 5, 2023), (12, 8, 2022), (25, 12, 2021), (15, 1, 2020)]
```

In [3]:
# write you answer here
dates = [(1, 5, 2023), (12, 8, 2022), (25, 12, 2021), (15, 1, 2020)]
modified_dates = []
for date in dates:
    modified_date = (date[-1],) + date[1:-1] + (date[0],)
    modified_dates.append(modified_date)
print(modified_dates[:2])

[(2023, 5, 1), (2022, 8, 12)]

## Question 3: Workshop Attendance

Two sets represent students who attended **Workshop A** and **Workshop B**.

**Task:**
- Find the students who attended **both workshops**
- Print:
  1. Number of such students
  2. The set of common students

```python
workshop_a = {201, 202, 203, 204, 205}
workshop_b = {204, 205, 206, 207, 208}
```

In [4]:
# write you answer here
workshop_a = {201, 202, 203, 204, 205}
workshop_b = {204, 205, 206, 207, 208}
common_students = workshop_a.intersection(workshop_b)
print(len(common_students))
print(common_students)

2
{204, 205}

## Question 4: Country Grouping

You are asked to build a country grouping system.

**Task:**
- Take **4 country names as input from the user**
- Group them in a dictionary using the **first letter of the country name** as the key
- Store country names as values in a list

**Example Input:**
```
India
Indonesia
France
Finland
```

In [5]:
# write you answer here
country_dict = {}
for i in range(4):
    country = input("Enter country name: ")
    first_letter = country[0]
    if first_letter in country_dict:
        country_dict[first_letter].append(country)
    else:
        country_dict[first_letter] = [country]
print(country_dict)

Enter country name: india
Enter country name: france
Enter country name: indonesia
Enter country name: russia
{'i': ['india', 'indonesia'], 'f': ['france'], 'r': ['russia']}

## Question 5: Roman Numeral Conversion

You are given a string representing a **Roman numeral**.

**Task:**
- Convert the Roman numeral into its corresponding **integer value**
- Print the integer result

**Example Input:**
```
XLII
```

In [8]:
# write you answer here
roman_numeral = input("Enter a Roman numeral: ")
roman_dict = {'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}
integer_value = 0
prev_value = 0
for char in roman_numeral:
    value = roman_dict[char]
    if value > prev_value:
        integer_value += value - 2 * prev_value
    else:
        integer_value += value
    prev_value = value
print(integer_value)

Enter a Roman numeral: XLII
42