# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
t = {1,2,3,4,5}
print(t)

{1, 2, 3, 4, 5}

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [3]:
# write your answer here
t = {1,1.05,"kanha",True}
for i in t:
    print(i)

1
kanha
1.05

### Question 3
Find the length of a tuple containing names of 4 students.

In [5]:
# write your answer here
t = {"Ritik","kanha","Akash","Gaurav"}
print(len(t))

4

### Question 4
Access and print the last element of a tuple.

In [19]:
# write your answer here
t = ("Ritik","kanha","Akash","Gaurav")
print(t[-1])

Gaurav

### Question 5
Check whether an element exists in a tuple or not.

In [36]:
# write your answer here
t = {"Ritik","kanha","Akash","Gaurav"}
print("Ritik" in t)
print("Akash" in t)
print("Akash" not in t)

True
True
False

### Question 6
Convert a tuple into a list.

In [15]:
# write your answer here
t = {"Ritik","kanha","Akash","Gaurav"}
print(list(t))

['kanha', 'Akash', 'Ritik', 'Gaurav']

### Question 7
Convert a list into a tuple.

In [16]:
# write your answer here
t = ["Ritik","kanha","Akash","Gaurav"]
print(tuple(t))

('Ritik', 'kanha', 'Akash', 'Gaurav')

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [22]:
# write your answer here
t = ("Ritik","kanha","Akash","Gaurav","Ritik")
print(t.count("Ritik"))

2

### Question 9
Find the index of an element in a tuple.

In [23]:
# write your answer here
t = ("Ritik","kanha","Akash","Gaurav","Ritik")
print(t.index("Ritik"))

0

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [24]:
# write your answer here
t = ("Ritik","kanha","Akash","Gaurav","Ritik")
t[0] = "Akash"

TypeError: 'tuple' object does not support item assignment

## ðŸŸ© Set Practice Questions

### Question 11
Create a set of 5 unique numbers and print it.

In [25]:
# write your answer here
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

### Question 12
Create a set with duplicate values and observe the output.

In [26]:
# write your answer here
s = {1,2,3,4,5,1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

### Question 13
Add an element to a set.

In [27]:
# write your answer here
s = {1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

### Question 14
Remove an element from a set.

In [28]:
# write your answer here
s = {1,2,3,4,5}
s.remove(1)
print(s)

{2, 3, 4, 5}

### Question 15
Check whether an element exists in a set.

In [29]:
# write your answer here
s = {1,2,3,4,5}
print(1 in s)

True

### Question 16
Find the length of a set.

In [30]:
# write your answer here
s = {1,2,3,4,5}
print(len(s))

5

### Question 17
Convert a list with duplicate values into a set.

In [31]:
# write your answer here
l = [1,2,3,4,5,1,2,3,4,5]
print(set(l))

{1, 2, 3, 4, 5}

### Question 18
Convert a set into a list.

In [32]:
# write your answer here
s = {1,2,3,4,5}
print(list(s))

[1, 2, 3, 4, 5]

### Question 19
Find common elements between two sets.

In [33]:
# write your answer here
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.intersection(s2))

{4, 5}

### Question 20
Find all unique elements from two sets.

In [34]:
# write your answer here
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

# Optional Question
### Problem:
Class A has students: {"Amit", "Neha", "Rahul"}
Class B has students: {"Rahul", "Priya", "Sneha"}

In [35]:
class_a={"Amit", "Neha", "Rahul"}
class_b={"Rahul", "Priya", "Sneha"}

final_list_of_student=class_a.union(class_b)
print(final_list_of_student)

{'Neha', 'Amit', 'Priya', 'Sneha', 'Rahul'}